@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300,700, 900, 500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.219),
    rgba(0, 0, 0, 75)
  );
  padding: 25px;
}
h1 {
  margin: 0 auto;
  color: white;
}
.app.warm {
  background-image: url(./assets/sunny.jpg);
}
.app {
  background-image: url(./assets/winter1.jpg);
  background-size: cover;
  background-position: bottom;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 0px 0px 16px 16px;

  box-shadow: rgba(187, 187, 187, 0.76) 3px 3px 6px 0px inset,
    rgba(173, 173, 173, 0.959) -3px -3px 6px 3px inset;
  margin-top: -25px;
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.447);
}
.location-box .location {
  padding: 20px;
  color: #fff;
  font-size: 32px;
  font-family: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.weather-box {
  text-align: center;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-family: 900;
  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  -webkit-animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
